<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playscape.coco2dxdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--###################################################################################
        #                                ACTION  ITEMS                                    #
        # =============================================================================== #
        #                                                                                 #
        # 1. Replace-ALL com.playscape.coco2dxdemo strings with your game's package name. #
        # 2. PlayscapeActivity.java can either extend from your own activity or replace   #
        #   it entirely, either way is good.                                              #
        # 3. Please note that the application tag has an android:name tag which points to #
        #   the PlayscapeApp class, should you choose not to use it, but to use your own  #
        #   class, simply call PlayscapeStartup.getInstance().onCreate(this); in that     #
        #   class's onCreate() method.                                                    #
        #                                                                                 #
        ###################################################################################-->
    
    <uses-sdk android:minSdkVersion="8" />

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- library -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
	  Creates a custom permission so only this app can receive its messages.
	 
	  NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
	        where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.playscape.coco2dxdemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.playscape.coco2dxdemo.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.playscape.playscapeapp.PlayscapeApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.playscape.publishingkit.PlayscapeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- GCM -->

        <!--
		  BroadcastReceiver that will receive intents from GCM
		  services and handle them to the custom IntentService.
		 
		  The com.google.android.c2dm.permission.SEND permission is necessary
		  so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.playscape.utils.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.playscape.coco2dxdemo" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />     
		
        <!--
		  Application-specific subclass of GcmIntentService that will
		  handle received messages.
        -->
        <service android:name="com.playscape.utils.gcm.GcmIntentService" />
        <!--
		  BroadcastReceiver that will receive intents from NotificationManager and
		  handle received messages.
        -->
        <receiver android:name="com.playscape.utils.kernel.NotificationActionListener" >
            <intent-filter>
                <action android:name="com.playscape.utils.intent.NOTIFICATIONACTION" />

                <category android:name="com.playscape.coco2dxdemo" />
            </intent-filter>
        </receiver>

        <!-- Remote Logger -->

        <service android:name="mominis.common.logger.LoggingService" >
            <intent-filter>
                <action android:name="com.mominis.gameconsole.logger.START_LOGGER_SERVICE" />
            </intent-filter>
        </service>
        <service android:name="com.mominis.logger.IsAliveService" />

        <receiver android:name="mominis.common.logger.OnLogAlarmReceiver" >
            <intent-filter>
                <action android:name="com.mominis.gameconsole.alarm.START_LOG_SHIPPING_FROM_REPEATING" />
                <action android:name="com.mominis.gameconsole.alarm.START_LOG_SHIPPING_FROM_DEFERRED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mominis.logger.ConnectivityChangedReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- Used for install referrer tracking -->
        <receiver
            android:name="com.playscape.analytics.MarketReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        
         <!-- StartApp Ads -->
	    <activity android:name="com.startapp.android.publish.list3d.List3DActivity" android:theme="@android:style/Theme" />
	    <activity android:name="com.startapp.android.publish.AppWallActivity" android:theme="@android:style/Theme.Translucent" android:configChanges="orientation|keyboardHidden" />
	    <!-- MoPub Ads -->
	    <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation" />
	    <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation" />
	    <activity android:name="com.mopub.mobileads.MraidBrowser" android:configChanges="keyboardHidden|orientation" />
	    <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation" />
	    <!-- Vungle Video Ads -->
	    <activity android:name="com.vungle.sdk.VungleAdvert" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
	    <service android:name="com.vungle.sdk.VungleIntentService" />
	    <!-- AdColony Video Ads -->
	    <activity android:name="com.jirbo.adcolony.AdColonyOverlay" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
	    <activity android:name="com.jirbo.adcolony.AdColonyFullscreen" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
	    <activity android:name="com.jirbo.adcolony.AdColonyBrowser" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
	    <!-- AdMob Ads -->
	    <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	    <!-- Millenial Media Ads -->
	    <activity android:name="com.millennialmedia.android.VideoPlayer" android:configChanges="keyboardHidden|orientation|keyboard" />
	    <activity android:name="com.millennialmedia.android.MMActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|keyboard" />
    </application>

    
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>